#header {
  background-color: #fff;
  color: #0cff0c !important;
  box-shadow: 0px opx 3px 0px #ff0000;
}

#header a:link,
#header a:visited {
  color: #000 !important;
}

div.breadcrumbs {
  background-color: gold;
}

.module h2,
.module caption,
.inline-group h2 {
  background-color: gold;
}

.button,
input[type="submit"],
input[type="button"],
.submit-row input,
a.button {
  background-color: blueviolet;
}

.button:active,
input[type="submit"]:active,
input[type="button"]:active,
.button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #87a7a7;
}

.button.default,
input[type="submit"].default,
.submit-row input.default {
  background-color: #ee7036;
}

.button.default:active,
input[type="submit"].default:active,
.button.default:focus,
input[type="submit"].default:focus,
.button.default:hover,
input[type="submit"].default:hover {
  background-color: #929696;
}

a:link,
a:visited {
  color: #33f133;
}
